<div class="my-3">
    <h2>Custom Observable</h2>
    <br>
    <div class="row">
        <!-- Ex 1 -->
        <div class="col-md-6">
            <strong>Ex - 01 (Manual)</strong>
            <!-- <select class="form-select" aria-label="Default Test">
                <option selected>Test</option>
                <option>Complete</option>
                <option></option>
            </select> -->
            <hr>
            <ul class="techList"
                [ngClass]="techStatus == 'complete' ? 'complete' : techStatus == 'error' ? 'error' : '' "
                id="elContainer">
            </ul>
        </div>
        <!-- Ex 2 -->
        <div class="col-md-6 complete">
            <strong>Ex - 02 (Custom Interval Observable)</strong>
            <hr>
            <ul class="techList" 
            [ngClass]="techStatus2 == 'complete' ? 'complete' : techStatus2 == 'error' ? 'error' : ''"
            id="elContainer2">
            </ul>
        </div>
    </div>

    <!-- Random name -->
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <br>
            <strong>Ex - 03 (Random Names)</strong>
            <br>
            <br>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Random Names:</strong>
                'Shreesh','Neeraj','Kalpesh','Ratnesh','Anurag','Rajeev'
            </p>
            <hr>
            <p>Current Name : <strong class="text-success">{{name}}</strong></p>
            <span class="badge"
            [ngClass]="techStatus3 == 'complete' ? 'bg-primary' : techStatus3 == 'error' ? 'bg-danger' : 'bg-primary'"
            >{{techStatus3 == 'complete' ? 'Success' : techStatus3 == 'error' ? 'Danger' : 'Success'}}</span>
        </div>
    </div>
</div>