/* You can add global styles to this file, and also import other style files */
ul.techList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


ul.techList li{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 13px;
    margin: 10px
}

ul.techList.error li{
    background: red;
}

ul.techList.complete li{
    color: red;
    background: rgba(255, 0, 0, 0.08);
    border-color: rgb(196, 105, 105);
}

ul.techList.complete li{
    color: rgb(173, 229, 173);
    background: rgb(27, 66, 27);
    border-color: rgb(7, 165, 7);
}