<div class="my-3">
    <div class="my-4">
        <h1 class="fs-3">Map</h1>
    </div>

    <div class="row">
        <!-- Ex - 01 -->
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px-2 border rounded">
                <strong>Map</strong> Data   => 'Video' + 'data' 
            </p>
            <br>
            <p>
                Message <strong class="text-success">{{msg1}}</strong>
            </p>
        </div>

        <!-- Ex - 02 -->
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-2 border rounded">
                <strong>Map</strong> Data => data*3
            </p>
            <br>
            <p>
                Message <strong class="text-success">{{msg2}}</strong>
            </p>
        </div>

        <!-- Ex - 03 -->
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px-2 border rounded">
                <strong>Map</strong> Map Object Data 
            </p>
            <br>
            <ul id="elContainer">

            </ul>
        </div>
    </div>
</div>