

<div class="d-flex  justify-content-center align-items-center w-100 vh-100">
    <div class="border border-primary rounded">
        <form [formGroup]="postForm" class="m-4">
            <div class="form-group">
                <input type="text"
                [ngClass] = "{
                    'is-invalid': postForm.get('title')?.invalid && postForm.get('title')?.touched,
                    'is-valid': postForm.get('title')?.valid && postForm.get('title')?.touched
                }"
                class="form-control" 
                formControlName="title" 
                placeholder="title">
                <div *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid">
                    <small *ngIf="postForm.get('title')?.errors?.['required']">Title is required</small>
                </div>
            </div>
            <div class="form-group">
                <input type="textarea"
                [ngClass] = "{ 
                    'is-invalid': postForm.get('body')?.invalid && postForm.get('body')?.touched,
                    'is-valid': postForm.get('body')?.valid && postForm.get('body')?.touched
                 }"
                class="form-control mt-2" 
                formControlName="body" 
                placeholder="Post" />
                <div *ngIf="postForm.get('body')?.touched && postForm.get('body')?.invalid">
                    <small *ngIf="postForm.get('body')?.errors?.['required']">Content is required</small>
                </div>
            </div>
            @if(isEdit()){
                <button type="submit" 
                (click)="onUpdate()"
                class="btn btn-sm w-100 btn-primary mt-2 fw-bold">Update</button>
            }@else {
                <button type="submit" 
                (click)="onSubmit()"
                class="btn btn-sm w-100 btn-primary mt-2 fw-bold">Submit</button>
            }
        </form>
    </div>
</div>