<div class="my-3 container">
    <h2>Of and From</h2>
    <br>
    <strong>Ex - 01 (OF)</strong>
    <hr>

    <!-- Of operator -->
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>
                of('Anup', 'Shekhar', 'Sharma')
            </p>
            <hr>
            <ul id="elContainer1">

            </ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>
                of(&#123;a:'Anup', b:'Shekhar', c:'Sharma'&#125;)
            </p>
            <hr>
            <ul id="elContainer2">
                <li>a: {{obMsg.a}}</li>
                <li>a: {{obMsg.b}}</li>
                <li>a: {{obMsg.c}}</li>
            </ul>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <!-- From Operator -->

    <strong>Ex - 02 (FROM)</strong>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>
                from(['Shreesh', 'Trends', 'UxTrends'])
            </p>
            <hr>
            <ul id="elContainer3">

            </ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>
                From Promise to Observable Conversion
            </p>
            <hr>
            <ul id="elContainer4">
            </ul>
        </div>

        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>
                From String to Observable Conversion
            </p>
            <hr>
            <ul id="elContainer5">
            </ul>
        </div>
    </div>
</div>