ul.list {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul.list li {
    width: calc(25% - 20px);
    margin: 10px;
  }
  
  ul.list li a {
    background: #e7e7e7;
    color: #6296bb;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 1px solid #6296bb;
    transition: 0.3s ease all;
    line-height: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul.list li a:hover {
    background: #e3f2fd;
    color: #477698;
    box-shadow: 0 0 60px #b3cada inset;
    text-decoration: none;
  }
  
  ul.list li a {
    color: black; /* Example: blue */
    font-weight: bold;
  }
  