<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li><a routerLink="form-event">fromEvent</a></li>
            <li><a routerLink="interval">Interval && Timer</a></li>
            <li><a routerLink="of-from">Of From</a></li>
            <li><a routerLink="to-array">ToArray</a></li>
            <li><a routerLink="custom-observable">Custom Observable</a></li>
            <li><a routerLink="to-array">ToArray</a></li>
            <li><a routerLink="to-array">ToArray</a></li>
            <li><a routerLink="to-array">ToArray</a></li>
          </ul>          
    </div>
</div>